.sun {
  position: fixed;
  top: 45%;
  left: 35%;
  overflow: hidden;
  transition: 1s all;
  z-index: -2;
  @media screen and (max-width: 1350px) {
    left: 25%;
  }
  @media screen and (max-width: 890px) {
    left: 20%;
  }
  @media screen and (max-width: 760px) {
    left: 12%;
  }
  @media screen and (max-width: 620px) {
    left: 8%;
  }
  @media screen and (max-width: 550px) {
    left: 1%;
  }
  @media screen and (max-width: 480px) {
    left: -4%;
  }
  @media screen and (max-width: 430px) {
    left: -6%;
  }
  @media screen and (max-width: 400px) {
    left: -12%;
  }
}
.distance__of__sun {
  position: fixed;
  top: 50%;
  left: 5%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 2.25px;
  color: rgba(255, 255, 255, 0.7);
  transform: rotate(-90deg);
  @media screen and (max-width: 990px) {
    left: -2%;
  }
  @media screen and (max-width: 725px) {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 2.25px;
  }
}
