.container {
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 990px) {
    width: 90%;
  }
}
.opacity__for_firs_block{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
}
// -----------------main_section----------------------
.main_section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  // padding: 32px 0;
  justify-content: center;

}
.firs_block {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.back_text {
  width: 232px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(255, 255, 255, 0.7);
  &:first-child {
    width: 260px;
    align-self: flex-start;
  }
  &:last-child {
    width: 260px;
    align-self: flex-end;
    text-align: right;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  // width: 100%;
  justify-content: center;
}
.light_block {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;

  span {
    font-family: "Pixel Cyr";
    color: #fbb92c;
    font-size: 82px;
    font-weight: 700;
  }
  p {
    font-family: "Inter";
    text-transform: uppercase;
    font-size: 82px;
    font-weight: 700;
    br {
      display: none;
    }
  }
  @media screen and (max-width: 1520px) {
    span {
      font-size: 72px;
    }
    p {
      font-size: 72px;
    }
  }
  @media screen and (max-width: 1330px) {
    span {
      font-size: 52px;
    }
    p {
      font-size: 52px;
    }
  }
  @media screen and (max-width: 1330px) {
    span {
      font-size: 52px;
    }
    p {
      font-size: 52px;
    }
  }
  @media screen and (max-width: 990px) {
    flex-direction: column;
    span {
      font-size: 74px;
      text-align: center;
    }
    p {
      font-size: 74px;
      br {
        display: block;
      }
    }
    &:nth-child(2) {
      p {
        font-size: 48px;
      }
    }
    &:nth-child(3) {
      flex-direction: row;
      justify-content: center;
      span {
        font-size: 30px;
      }
      p {
        font-size: 30px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    align-items: start;
    gap: 12px;
    span {
      font-size: 54px;
      text-align: center;
    }
    p {
      font-size: 54px;
      br {
        display: block;
      }
    }
    &:nth-child(2) {
      align-items: center;
      p {
        font-size: 32px;
      }
    }
    &:nth-child(3) {
      flex-direction: row;
      justify-content: center;
      span {
        font-size: 20px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
.discover_button {
  margin-top: 58px;
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  .icon{
    &:hover{
      fill: #fbb92c;
      .inner_icon{
          fill: #000;   
      }
    }
  }
  span {
    cursor: pointer;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    /* or 143% */
    letter-spacing: 0.25px;
    text-transform: uppercase;

    color: #ffffff;
  }
}

// -----------------our__works----------------------
.new_block {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  @media screen and (max-width: 710px) {
    justify-content: center;
    height: 100vh;
  }
}
.our__works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  img {
    width: 360px;
    height: 140px;
    align-self: flex-end;
  }
  .our__projects__text {
    display: flex;
    flex-direction: column;
    padding-bottom: 56px;
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: 0.25px;
      color: #fbb92c;
      width: 476px;
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      text-align: right;
      letter-spacing: 0.25px;
      width: 440px;
      align-self: flex-end;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  @media screen and (max-width: 710px) {
    height: 75%;
    img{
    display: none;
    }
    .our__projects__text {
      gap: 12px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        width: 280px;
        font-size: 24px;
        line-height: 29px;
      }
      P {
        width: 280px;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
  @media screen and (max-width: 450px) {
    img{
      width: 206px;
      height: 80px;
    }
    .our__projects__text {
      gap: 12px;
      padding-left: 24px;
      h1 {
        width: 100%;
      }
      P {
        width: 100%;
      }
    }
  }
}
// -----------------our__projects----------------------
.our__projects {
  display: flex;
  flex-direction: column;
  gap: 64px;
  // height: 85%;
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    text-transform: uppercase;
  }
  .cards__block {
    display: flex;
    gap: 32px;
    .card__item {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .animations{
        align-self: center;
        img {
          width: 568px;
          height: 320px;
        }
      }
     
      h4 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.25px;
        color: #ffffff;
        cursor: pointer;
        .icon{
          height: 32px;
          width: 32px;
          float: right;
          &:hover{
            fill: #fbb92c;
            .inner_icon{
                fill: #000;   
            }
          }
        }
      }
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  @media screen and (max-width: 1400px) { 
    .cards__block {
      .card__item {
        .animations{
          img {
            width: 440px;
            height: 260px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1150px) {
    h1{
      font-size: 58px;
    }
    .cards__block {
      .card__item {
        .animations{
          img {
            width: 360px;
            height: 180px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 820px) {
    .cards__block {
      flex-direction: column;
      .card__item {
        gap: 12px;
        .animations{
          img {
            width: 440px;
            height: 260px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 470px) {
    h1{
      font-size: 36px;
    }
    .cards__block {
      gap: 42px;
      .card__item {
        .animations{
          img {
            width: 320px;
            height: 180px;
          }
        }
      }
    }
  }
}
// -----------------footer---------------------
.foot {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: space-between;
  padding: 56px 0;
  margin-top: 64px;
  align-items: flex-end;
  .logo__foot{
    display: flex;
    flex-direction: column;
    gap: 20px;
    img{
      width: 112px;
      height: 20px;
    }
  }
  .join__us__foot{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    .join__us__foot__icons{
      display: flex;
      gap: 24px;
    }
  }
  a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
  }
  div {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.7);
  }

  @media screen and (max-width: 720px) {
    padding: 56px 0;
    margin-top: 64px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    a {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.15px;
    }
    div {
      order: 2;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.15px;
    }
    .logo__foot{
      order: 3;
  align-items: center;
    }
    .join__us__foot{
      order: 2;
      span{
        order: 2;
      }
    }
  }
}
